<!--<h1>Genres#index</h1>-->
<!--<p>Find me in app/views/genres/index.html.erb</p>-->
<h3>ジャンル一覧</h3>
<p class="text-left"><%= page_entries_info @genres %></p>
<%= paginate @genres %>

<table>
  <tr>
    <th class="text-center">ジャンルNo</th>
    <th class="text-center">ジャンル名</th>
    <th class="text-center">登録日時</th>
    <th class="text-center">修正</th>
  </tr>

  <% @genres.each do |genre| %>
  <tr></tr>
    <td class="text-center"><%= genre.id %></td>
    <td class="text-center"><%= genre.name %></td>
    <td class="text-center"><%= genre.created_at.strftime("%y/%m/%d") %></td>
    <td class="text-center"><button class="btn btn-default btn-xs"><%= link_to '変更', edit_genre_path(genre.id)  %></button>　<button class="btn btn-default btn-xs"><%= link_to '削除する', genre_path(genre.id), method: :delete, data: {confirm: "本当に削除しますか?"} %></button></td>
  <% end %>
</table>
<%= paginate @genres %>
<p><button class="btn btn-default btn-xs"><%= link_to '新規ジャンルの登録', new_genre_path %></button></p>