<h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p>

  <div class="box">
    <h2>新商品<div class="show-more">もっとみる</div></h2>

    <% @newItems.each do | item | %>
        <%= link_to(preview_item_path(item.id)) do  %>
          <div class="item-card">
            <div class="image">
              <%= image_tag item.mainImage.url %>
            </div>
            <div class="name">
              <%= item.itemName %>
            </div>
            <div class="price">
              <% price = (item.price).to_s %>
              <% if price.end_with?(".0") %><!--整数なら-->
                  <% item.price = (item.price).to_i %>
                  <%= number_to_currency(item.price, :format => "%u%n", :precision => 0, :unit =>"¥") %>
              <% else %>
                  <%= number_to_currency(item.price, :format => "%u%n", :precision => 1, :unit =>"¥") %>
              <% end %>
            </div>
          </div>
        <% end %>
    <% end %>
  </div>


<br>
<br>
<%= link_to 'お知らせ新規', infos_path %>
<br>
<br>
<%= link_to '商品一覧', items_path %>
<br>
<br>
