<!--<p>Find me in app/views/positions/index.html.erb</p>-->
<h3>位置情報一覧</h3>
<p class="text-left"><%= page_entries_info @positions %></p>
<%= paginate @positions %>
<table>
  <thead>
    <tr>
      <th class="text-center">見出し</th>
      <th class="text-center">説明</th>
      <th class="text-center">住所</th>
      <th class="text-center">緯度</th>
      <th class="text-center">経度</th>
      <th class="text-center" colspan="2">修正</th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.title %></td>
        <td><%= position.description %></td>
        <td><%= position.address %></td>
        <td><%= position.latitude %></td>
        <td><%= position.longitude %></td>
        <td><button class="btn btn-default btn-xs"><%= link_to '変更', edit_position_path(position.id) %></button>　<button class="btn btn-default btn-xs"><%= link_to '削除', edit_position_path(position.id), method: :delete, data: { confirm: '削除してもよろしいですか？' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= paginate @positions %>
<p><button class="btn btn-default btn-xs"><%= link_to '位置情報の登録', new_position_path %></button></p>