<h1>Tops#index</h1>
<p>Find me in app/views/tops/index.html.erb</p>

<!--新商品 ------------------------------->
<div class="box">
  <h2>新商品<div class="show-more">もっとみる</div></h2>

  <% @newItems.each do | item | %>
      <%= link_to(preview_item_path(item.id)) do  %>
          <div class="item-card">
            <div class="image">
              <%= image_tag item.mainImage.url %>
            </div>
            <div class="name text-center">
              <%= item.itemName %>
            </div>
            <div class="price text-center">
              <% price = (item.price).to_s %>
              <% if price.end_with?(".0") %><!--整数なら-->
                  <% item.price = (item.price).to_i %>
                  <%= number_to_currency(item.price, :format => "%u%n", :precision => 0, :unit =>"¥") %>
              <% else %>
                  <%= number_to_currency(item.price, :format => "%u%n", :precision => 1, :unit =>"¥") %>
              <% end %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
<br>


<!--ジャンル1 ------------------------------->
<div class="box">
  <h2>ジャンル1<div class="show-more">もっとみる</div></h2>

  <% @genre1Items.each do | item | %>
      <%= link_to(preview_item_path(item.id)) do  %>
          <div class="item-card">
            <div class="image">
              <%= image_tag item.mainImage.url %>
            </div>
            <div class="name text-center">
              <%= item.itemName %>
            </div>
            <div class="price text-center">
              <% price = (item.price).to_s %>
              <% if price.end_with?(".0") %><!--整数なら-->
                  <% item.price = (item.price).to_i %>
                  <%= number_to_currency(item.price, :format => "%u%n", :precision => 0, :unit =>"¥") %>
              <% else %>
                  <%= number_to_currency(item.price, :format => "%u%n", :precision => 1, :unit =>"¥") %>
              <% end %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
<br>


<!--ジャンル2の商品 ------------------------------->
<div class="box">
  <h2>ジャンル2<div class="show-more">もっとみる</div></h2>

  <% @genre2Items.each do | item | %>
      <%= link_to(preview_item_path(item.id)) do  %>
          <div class="item-card">
            <div class="image">
              <%= image_tag item.mainImage.url %>
            </div>
            <div class="name text-center">
              <%= item.itemName %>
            </div>
            <div class="price text-center">
              <% price = (item.price).to_s %>
              <% if price.end_with?(".0") %><!--整数なら-->
                  <% item.price = (item.price).to_i %>
                  <%= number_to_currency(item.price, :format => "%u%n", :precision => 0, :unit =>"¥") %>
              <% else %>
                  <%= number_to_currency(item.price, :format => "%u%n", :precision => 1, :unit =>"¥") %>
              <% end %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
<br>


<!--ジャンル3の商品 ------------------------------->
<div class="box">
  <h2>ジャンル3<div class="show-more">もっとみる</div></h2>

  <% @genre3Items.each do | item | %>
      <%= link_to(preview_item_path(item.id)) do  %>
          <div class="item-card">
            <div class="image">
              <%= image_tag item.mainImage.url %>
            </div>
            <div class="name text-center">
              <%= item.itemName %>
            </div>
            <div class="price text-center">
              <% price = (item.price).to_s %>
              <% if price.end_with?(".0") %><!--整数なら-->
                  <% item.price = (item.price).to_i %>
                  <%= number_to_currency(item.price, :format => "%u%n", :precision => 0, :unit =>"¥") %>
              <% else %>
                  <%= number_to_currency(item.price, :format => "%u%n", :precision => 1, :unit =>"¥") %>
              <% end %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
