<!--<p>Find me in app/views/orders/_orders_form.html.erb</p>-->
<%= form_for(@order) do |f| %>
    <% if @order.errors.any? %>
        <!-- 問題がある場合 -->
        <!-- エラー内容の表示 -->
        <div class="alert alert-danger">
          <ul>
            <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg.html_safe %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  <!--配送業者-->
  <label>配送業者</label><br>
  <p><%= f.collection_select(:dvendor_id, Dvendor.all, :id, :name) %></p>

  <!--問い合わせ番号-->
  <label>問い合わせ番号(半角数字のみ)</label><br>
  <p><%= f.text_field :d_number %></p>

  <p>
    <div class="action">
      <%= f.submit @submit %>
    </div>
  </p>
<% end %>