<!--<h1>Orders#show</h1>-->
<!--<p>Find me in app/views/orders/show.html.erb</p>-->
<h2>注文内容</h2>

<h4>注文日時</h4>
<p><%= @order.created_at.strftime('%Y/%m/%d') %> <%= @order.created_at.strftime('%H:%M') %></p>
<h4>配送先住所</h4>
<p>〒<%= @order.address.postalcode %></p>
<p><%= @order.address.prefecture.name %><%= @order.address.city %></p>
<p><%= @order.address.street %><%= @order.address.others %></p>

<h4>注文内容</h4>

<table>
  <tr>
    <th class="text-center">商品番号</th>
    <th class="image text-center">画像</th>
    <th class="text-center">品番</th>
    <th class="text-center">商品名</th>
    <th class="text-center">値段</th>
    <th class="text-center">数量</th>
    <th class="text-center">小計</th>
  </tr>
  <% total_count  = 0 %>
  <% @order.cartitems.each do |cartitem| %>
      <tr>
        </td>
        <!--商品番号-->
        <td class="text-right"><%= cartitem.item.itemCodeNo %></td>
        <!--画像-->
        <td><%= image_tag(cartitem.item.mainImage.url, size: '50x50') %></td>
        <!--品番-->
        <td><%= cartitem.item.partNumber %></td>
        <!--商品名-->
        <td><%= cartitem.item.itemName %></td>
        <td>
          <!--値段-->
          <% price = (cartitem.item.price).to_s %>
          <% if price.end_with?(".0") %><!--整数なら-->
              <% cartitem.item.price = (cartitem.item.price).to_i %>
              <%= number_to_currency(cartitem.item.price, :format => "%u%n", :precision => 0, :unit =>"¥") %>
          <% else %>
              <%= number_to_currency(cartitem.item.price, :format => "%u%n", :precision => 1, :unit =>"¥") %>
          <% end %>
        </td>
        <!--数量-->
        <td class="text-right"><%= cartitem.quantity %></td>
        <!--小計-->
        <td class="text-right">
          <% subtotal_price = ((cartitem.item.price) * (cartitem.quantity)).to_s %>
          <%# subtotal_price %>
          <% if subtotal_price.end_with?(".0") %><!--整数なら-->
              <% subtotal_price = (subtotal_price).to_i %>
              <%= number_to_currency(subtotal_price, :format => "%u%n", :precision => 0, :unit =>"¥") %>
          <% else %>
              <%= number_to_currency(subtotal_price, :format => "%u%n", :precision => 1, :unit =>"¥") %>
          <% end %>
        </td>
        <td></td>
      </tr>
      <% total_count += cartitem.quantity %>
  <% end %>
  <tr>
    <td class="text-right" colspan="6">合計数</td>
    <td class="text-right"><%= total_count %>点</td>
  </tr>
  <tr>
    <td class="text-right" colspan="6">合計金額</td>
    <td class="text-right"><%= number_to_currency(@total_price, :format => "%u%n", :precision => 0, :unit =>"¥") %></td>
  </tr>
</table>
<br>
<p><button class="btn btn-xs btn-default"><%= link_to '配送状況の登録', edit_order_path(@order.id) %></button></p>
<button class="btn btn-xs btn-default"><%= link_to '注文履歴一覧へ', orders_path %></button>
