<!--<h1>Addresses#first_visit</h1>-->
<!--<p>Find me in app/views/addresses/first_new.html.erb</p>-->
<%= form_for @address, url: first_create_addresses_path  do |f|%>
    <% if @address.errors.any? %>
        <!-- 問題がある場合 -->
        <!-- エラー内容の表示 -->
        <div class="alert alert-danger">
          <ul>
            <% @address.errors.full_messages.each do |msg| %>
                <li><%= msg.html_safe %></li>
            <% end %>
          </ul>
        </div>
        <br>
    <% end %>
    <!-- 配送先氏名 -->
    <div class="field">
      <span>※</span><%= f.label :user_name, class: 'control-label' %><br>
      <div class="col-xs-10 col-sm-10 col-md-6">
        <%= f.text_field :user_name, class: 'form-control' %>
      </div>
    </div>
    <br>
    <br>
    <!-- 氏名(ふりがな) -->
    <div class="field">
      <span>※</span><%= f.label :name_kana, class: 'control-label' %><br>
      <div class="col-xs-10 col-sm-10 col-md-6">
        <%= f.text_field :name_kana, class: 'form-control' %>
      </div>
    </div>
    <br>
    <br>
    <!-- 電話番号 -->
    <div class="field">
      <span>※</span><%= f.label :tel, class:'control-label' %><br>
      <div class="col-xs-10 col-sm-10 col-md-6">
        <%= f.text_field :tel, size: '60', class: 'form-control' %>
      </div>
    </div>
    <br>
    <br>
    <!--郵便番号-->
    <div class="field">
      <span>※</span><%= f.label :postalcode, class:"control-label" %><br>
      <div class="col-xs-10 col-sm-10 col-md-6">
        <%= f.text_field :postalcode, :size => "60", class: "form-control" %>
      </div>
    </div>
    <br>
    <br>
    <!--都道府県-->
    <div class="field">
      <span>※</span><%= f.label :prefecture_id, class:"control-label" %><br>
      <div class="col-xs-10 col-sm-10 col-md-6">
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name) %>
      </div>
    </div>
    <br>
    <br>
    <!-- 市区町村 -->
    <div class="field">
      <span>※</span><%= f.label :city, class:"control-label" %><br>
      <div class="col-xs-10 col-sm-10 col-md-6">
        <%= f.text_field :city, size: '60x5', class: "form-control" %>
      </div>
    </div>
    <br>
    <br>
    <!-- 番地 -->
    <div class="field">
      <%= f.label :street, class:"control-label" %><br>
      <div class="col-xs-10 col-sm-10 col-md-6">
        <%= f.text_field :street, :size => "60x5", class: "form-control" %>
      </div>
    </div>
    <br>
    <br>
    <!-- その他詳細 -->
    <div class="field">
      <span>※</span><%= f.label :others, class:"control-label" %><br>
      <div class="col-xs-10 col-sm-10 col-md-6">
        <%= f.text_field :others, class: "form-control" %>
      </div>
    </div>
    <br>
    <br>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <br>
    <div class="action">
      <%= f.submit %>
    </div>
<% end %>