<% provide(:title, "#{@item.itemName}") %>
<h2>Items#preview</h2>
<p>Find me in app/views/items/preview.html.erb</p>


<h1><%= @item.itemName %> <span>(品番：<%= @item.partNumber %>)</span></h1>
<!--<div class="float-left">-->
  <!-- スライドショー部分 -->
  <!-- ↓スライダー本体 -->
    <div class="slider thumb-item">
        <%= image_tag @item.mainImage.url %>
        <%= image_tag @item.image2.url %>
        <%= image_tag @item.image3.url %>
    </div>

    <!-- ↓サムネイル -->
    <div class="thumb-item-nav">
        <div><%= image_tag @item.mainImage.thumb.url %></div>
        <div><%= image_tag @item.image2.thumb.url %></div>
        <div><%= image_tag @item.image3.thumb.url %></div>
    </div>



   <div class="description"><!--説明-->
    <%= @item.description %>
  </div>
  <div class="clearboth"></div>
  <% if @item.attention.blank? %>
  <% else %>
      <div class="attention">
        <h2>注意事項</h2>
        <div><%= @item.attention %></div>

      </div>
  <% end %>
  <div class="price-cart">
    <div class="price">
      価格<br>
      <% price = (@item.price).to_s %>
      <% if price.end_with?(".0") %><!--整数なら-->
          <% @item.price = (@item.price).to_i %>
          <%= number_to_currency(@item.price, :format => "%u%n", :precision => 0, :unit =>"¥") %>
      <% else %>
          <%= number_to_currency(@item.price, :format => "%u%n", :precision => 1, :unit =>"¥") %>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <%= form_tag(add_item_carts_path, method: :post) do %>
        <%= hidden_field_tag :item_id, @item.id %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <div class="text-center">
          <%= select_tag :quantity, options_for_select([[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]]) %>
          <%= submit_tag 'カートに入れる', data: { disable_with: 'カートに追加しています' } %>
        </div>
      <% end %>
    <% else %>
      <div class="text-center">
        <button class="btn btn-primary btn-xs"><%= link_to 'ログインする', new_user_session_path %></button>
      </div>
    <% end %>
  </div>
<!--</div>-->

<!--<script type="text/javascript">-->
<!--$(document).on('turbolinks:load', function() {-->
      <!--$('.thumb-item').slick({-->
      <!--infinite: true,-->
      <!--slidesToShow: 1,-->
      <!--slidesToScroll: 1,-->
      <!--arrows: false,-->
      <!--fade: true,-->
      <!--asNavFor: '.thumb-item-nav',-->
      <!--respondTo: 'min'-->
      <!--});-->
      <!--$('.thumb-item-nav').slick({-->
      <!--infinite: true,-->
      <!--slidesToShow: 3,-->
      <!--slidesToScroll: 1,-->
      <!--asNavFor: '.thumb-item',-->
      <!--focusOnSelect: true,-->
      <!--});-->
<!--});-->
<!--</script>-->