<% provide(:title, "おしらせ一覧") %>
<!--<h1>Infos#index</h1>-->
<!--<p>Find me in app/views/infos/index.html.erb</p>-->
<h3>お知らせ一覧</h3>
<button class="btn btn-default btn-xs"><%= link_to 'おしらせの登録', new_info_path %></button>
<br>
<% unless @infos.blank? %>
  <table>
    <thead>
      <tr>
        <th class="text-center">登録日</th>
        <th class="text-center">見出し</th>
        <th class="text-center">詳細</th>
        <th class="text-center">修正</th>
      </tr>
    </thead>
    <tbody>
    <% @infos.each do |info| %>
      <tr>
        <td><%= info.created_at.strftime("%y/%m/%d") %></td>
        <td><%= info.title %></td>
        <td><%= info.description %></td>
        <td><button class="btn btn-default btn-xs"><%= link_to '変更',edit_info_path(info.id) %></button>　<button class="btn btn-default btn-xs"><%= link_to '削除', info_path(info.id), method: :delete, data: {confirm: "本当に削除しますか?"}%></button></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>まだおしらせはありません</p>
<% end %>
<br>
<br>
<%= paginate @infos %>

